**/.venv/*
**/.hf_home/*
**/twitter_multi_class_sentiment.csv
**/venv/*
fake_news.*
**/bert_base_train_dir/*
**/bert-base-uncased-serntiment-model/*
**/*.jsonq

resources/**
fake_news_detection/train_dir/**